version: 2

sbt-build: &sbt-build
  docker:
    - image: upvest/scala-sbt-docker-k8:stable
  steps:
    - run: mkdir ~/.sbt/gpg
    - run: echo $PGPKEY | base64 --decode --ignore-garbage > ~/.sbt/gpg/secring.asc
    - run: gpg --batch --allow-secret-key-import --import ~/.sbt/gpg/secring.asc
    - run: git config --global user.signingkey 4BFE56CB1EAEFD90
    - run: git config --global user.email ivan@upvest.co
    - run: git config --global user.name "Upvest/Arweave4s"
    - checkout
    - run: git branch -u origin/$CIRCLE_BRANCH
    - setup_remote_docker:
        docker_layer_caching: true
        version: 17.09.0-ce
    - restore_cache:
        key: sbt-deps-{{ checksum "build.sbt" }}
    - run: sbt -Xms512m -Xmx2g -XX:+UseConcMarkSweepGC -XX:ReservedCodeCacheSize=256m -XX:+CMSClassUnloadingEnabled -Djava.awt.headless=true -no-colors -batch "$SBT_COMMAND"
    - run: rm ~/.sbt/gpg/secring.asc
    - run: rm -rf ~/.gnupg
    - save_cache:
        key: sbt-deps-{{ checksum "build.sbt" }}
        paths:
          - ~/.m2
          - ~/.ivy2
          - ~/.sbt

collect-logs: &collect-logs
  run:
    name: Collect logs
    command: |
      mkdir logs
      while true; do
        docker-compose logs --follow --no-color > logs/docker-compose
        cp --force --backup=numbered logs/docker-compose logs/docker-compose
        sleep 1s
      done
    background: true

jobs:
  test:
    <<: *sbt-build
    environment:
      SBT_COMMAND: "; compile; clean; coverage; test; coverageReport; coverageAggregate; doc"

  integration-test:
    docker:
      - image: docker/compose:1.21.2
    steps:
      - run: apk update && apk add curl git openssh-client coreutils
      - setup_remote_docker
      - checkout
      - run:
          name: Update submodules
          command: |
            git submodule sync
            git submodule update --init --remote
      - run: docker-compose build --no-cache
      - *collect-logs
      - run:
          name: Set scale factor of ScalaTest's spans
          command: echo "SPAN_SCALE_FACTOR=10.0" >> .env
      - run: docker-compose run it
      - store_artifacts:
          path: logs

  release:
    <<: *sbt-build
    resource_class: large
    environment:
      SBT_COMMAND: "; project core; release with-defaults"

  release-snapshot:
    <<: *sbt-build
    resource_class: large
    environment:
      SBT_COMMAND: "core/publishSigned"

workflows:
  version: 2

  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
                - develop
    jobs:
      - test
      - integration-test

  ci:
    jobs:
      - test
      - integration-test
      - release:
          filters:
            branches:
              only: master
          requires:
            - test
            - integration-test
      - release-snapshot:
          filters:
            branches:
              only: develop
          requires:
            - test
            - integration-test
